<div class="row">
    <div class="col text-center">
        <a href="/admin/createCourse"><button type="button" class="btn btn-primary btn-lg">Create Course</button></a>
    </div>
</div>


<div class="border border-light p-5">
        {{#if courses}}
        <h1 class="text-center">Choose Course</h1>
        <ul class="list-group">
            {{#each courses}}
            <li class="list-group-item">
                {{title}}
                <div class="float-right">
                    <div class="btn-group" role="group">
                        <a href="/admin/editCourse/{{id}}"><button type="button" class="btn btn-warning">Edit Course</button></a>
                        <a href="/admin/lectures/{{id}}"><button type="button" class="btn btn-success">Add lectures</button></a>
                    </div>
                    Lectures in course
                    <span class="badge badge-primary badge-pill">{{lectures}}</span>
                </div>
            </li>
            {{/each}}
        {{else}}
        <h1>"No courses in database. Please create one!"</h1>
        {{/if}}

    </ul>
</div>